# Logs & Temp
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Python & PyTorch / YOLO
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
runs/
*.pt
*.pth
*.onnx
*.engine

# Node & Frontend
node_modules/
web/node_modules/
web/dist/
dist-ssr/
*.local

# Datasets & Temporary Data
datasets/processed/
datasets/*.zip
tools/*.csv

# Editor & System Files
!**/.gitkeep
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
